<!DOCTYPE html>
<div class="thumbnail">
	<a href="{{path_for('quiz.get',{slug: quiz.slug})}}"><img src ="https://image.freepik.com/free-vector/quiz-background-with-items-in-flat-design_23-2147599082.jpg" alt=""></a>
	<div class="caption">
		<h4><a href="{{path_for('quiz.get',{slug: quiz.slug})}}">{{quiz.title}}</a></h4> <h4> <span class="label label-default"> {{quiz.state}}</span> </h4>
		<hr>
	
	</div>
</div>